/* BASE */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 2.4vw;
}

@media all and (min-width: 1000px) {
  html {
    font-size: 24px;
  }
}

@media all and (max-width: 720px) {
  html {
    font-size: 18px;
  }
}

body {
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
  position: relative;

  margin-left: auto;
  margin-right: auto;

  font-family: "Nanum Myeongjo", serif;
}

div#content {
  padding-top: 3rem;
  margin-left: 12rem;
  margin-right: 2.5rem;
}

@media all and (max-width: 720px) {
  div#content {
    margin: 1.5rem;
    padding: 0;
  }
}

/* HEADINGS */

#title {
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-top: 1px solid #333;
  text-transform: uppercase;
}

#title > h1 {
  font-family: "Jost", sans-serif;
  font-size: 2.1rem;
  letter-spacing: 0.02em;
  font-style: normal;
  line-height: 1.1;
  hyphens: none;
  display: block;
  width: 100%;
}

#title > aside {
  margin-top: 0.8rem;
}

#title > p {
  padding-top: 0.7rem;
  font-size: 0.8em;
  font-family: "Gilda Display", serif;
}

h2 {
  font-family: "Gilda Display", serif;
  line-height: 1.45;
  font-size: 0.91rem;
  letter-spacing: 0.02em;
  margin-top: 1rem;
  padding-bottom: 0.2rem;
}

h3 {
  font-size: 0.7rem;
  padding-bottom: 0.2rem;
}

/* TEXT */

p {
  margin-bottom: 1em;
  line-height: 1.45;
  font-size: 0.81rem;
}

aside {
  display: block;
  float: left;
  position: absolute;
  margin-left: 0;
  left: 2.5rem;
  width: calc(2.5rem * 3);
  text-align: right;
  list-style-type: none;
  clear: both;
  margin-bottom: 1rem;
  font-variant-numeric: normal;
}

aside p {
  font-family: "Gilda Display", serif;
  font-size: 0.73rem;
  line-height: 1.4;
  color: #667;
  letter-spacing: 0.015em;
  hyphens: none;
}

aside a {
  color: inherit;
}

@media (max-width: 720px) {
  aside {
    background: #fefefe;
    padding: 0.3rem 0.5rem;
    width: 90%;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-left: 3px solid #ccc;
    float: inherit;
    position: inherit;
    text-align: left;
  }

  aside > p:last-child {
    margin-bottom: 0;
  }

  #title aside {
    border: none;
  }
}

/* CODE */
code {
  font-size: 80%;
}

/* LISTS */
ul,
ol {
  margin-left: 2rem;
  line-height: 1.45;
  font-size: 0.81rem;
}

li {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

/* LINKS */

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  opacity: 0.5;
}

/* TABLE OF CONTENTS */

a.toc {
  display: block;
  line-height: 1.25;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #444;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.toc h1 {
  margin-bottom: 0.25em;
  font-size: 1.6em;
  font-weight: lighter;
  font-family: "Source Serif Pro", serif;
}

.toc time {
  font-size: 0.7em;
  font-family: "Gilda Display", serif;
}

/* FOOTER */

footer {
  margin-top: 10em;
  font-size: 0.7em;
  text-align: right;
}
